#add-card {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  z-index: 9999; /* Ensure it is on top of other elements */
}

#details {
  width: 400px;
  color: white;
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  z-index: 10000; /* Ensure it is above the blurred background */
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#details input,
#details textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  border: 1px solid lightgrey;
  border: 2px solid #2c3e50;
}

.action button {
  color: white;
  background-color: #2c3e50;
  width: 110px;
  padding: 10px;
  font-size: medium;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
